{
    "env": {
        "production": {
            "presets": [
                ["env", {"modules": false}]
            ],
            "plugins": [
                "external-helpers",
                "transform-class-properties"
            ]
        },
        "test": {
            "presets": ["env"]
        }
    }
}
