{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-0"
    ],
    "plugins": [
        "external-helpers",
        "transform-object-rest-spread",
        "transform-object-assign",
        ["transform-builtin-extend", {
            "globals": ["Error"]
        }]
    ],
}
