{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-0"
    ],
    "env": {
        "production": {
            "plugins": ["external-helpers", "transform-es2015-function-name"]
        },
        "test": {
            "plugins": ["babel-plugin-transform-es2015-modules-commonjs"]
        }
    }
}
